:root {
  --hover-color: rgb(238, 77, 72);
}

html {
  font-size: 10px; /* 10px = 1rem */
}

/* HEADER */

nav {
  margin-top: 15px;
  left: 5%
}

.navbar-brand {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 200px;
}

.nav-item a {
  font-size: 1.5rem;
}

.nav-link.active {
  color: var(--hover-color) !important;
}

.nav-link:hover {
  color: var(--hover-color) !important;
}

.sf-sub-indicator {
  font-size: .8rem;
  vertical-align: 15%;
}

.collapse.navbar-collapse li {
  margin-right: 10px;
}

.dropdown-menu {
  height: 150px;
  width: 150px;
  border-color: transparent;
  padding-top: 20px;
}

ul .dropdown-item {
  color: rgb(119, 119, 119);
  font-size: 1.2rem;
}

ul .dropdown-item:hover {
  color: var(--hover-color);
  background-color: transparent;
}